/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
.container{
	
}
.playlist{
	padding-top:12px;
	padding-bottom:12px;
	width: 750px;
	background-color:white;
	border: 2px solid black;
	border-radius:8px;
}
h1, h2{
	text-align: center;
}
li{
	text-align:left;
	list-style-type: none;
}
a{
	text-decoration-line: none;
}
.video{
	width:600px;
	background-color:white;
	border: 2px solid black;
	border-radius:8px;
	padding: 8px 8px 8px 8px;
}

p{
	text-align:left;
}
.player_one{
	background-color: rgb(255, 255, 255);
}
.player_two{
	background-color: rgb(255, 255, 255);
}
video{
	width:100%;
}
audio{
	width:100%;
	border-radius:20px;
}
